.btn {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: rgb(255, 255, 255);
    background-color: rgb(252, 48, 201);
    margin-left: 20px;
  }
  
  .btn:first-child {
    margin-left: 0;
  }
  
  .btn:hover,
  .btn:focus {
    background-color: #000000;
    box-shadow: 0px 0px 8px 0px rgba(252, 53, 219, 0.2);
  }